header {
  width: 100%;
  background-color: #fff;
  #headerTop {
    .wrap {
      width: 1230px;
      margin: 0 auto;
      padding: 25px 15px 15px;
      #topLogo {
        img {
          width: 260px;
        }
      }
      nav {
        width: 80%;
        ul {
          margin: 0 0 0 50px;
          li {
            margin: 0 20px;
            a {
              display: inline-block;
              color: #101010;
              font-size: 18px;
              vertical-align: -40px;
            }
          }
        }
      }
    }
  }
  #headerBottom {
    background-color: #337ab7;
    .wrap {
      width: 1230px;
      margin: 0 auto;
      padding: 75px 15px 125px;
      h2 {
        margin: 0 0 15px;
        font-size: 30px;
        color: #fff;
      }
      p {
        color: #fff;
        font-size: 18px;
        line-height: 1.35;
      }
    }
  }
}