&#buzz {
  .section-title {
    margin: 15px 0 35px;
    font-size: 1.4rem;
    padding: 0 0 15px 35px;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
  }
  .buzz-trasition {
    display: none;
    &.open {
      display: flex;
    }
    .info {
      width: 25%;
      padding: 0 0 0;
      h4 {
        margin: 0 0 15px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #9d9e9a;
      }
      .buzz-quantity {
        margin: 0 0 10px;
        span {
          margin: 0 0 4px;
          display: block;
          color: #7f7f7f;
        }
        strong {
          font-size: 2rem;
          display: block;
        }
      }
      .keyword-sort {
        .title {
          
        }
      }
    }
    .chart {
      width: 75%;
    }
  }
}